<!--
 * @description: 
 * @author: zs
 * @Date: 2020-10-30 09:53:51
 * @LastEditTime: 2020-10-30 09:55:13
 * @LastEditors: zs
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自定义模版文件</title>
</head>
<body>
    <div id="root"></div>
</body>
</html>